.container {
    border: 5px solid #cecece;
    background-image: linear-gradient(#B1D4E0, #2E8BC0)
}

/* taking super awesome advice under protest */
/* .card-body {
    background-image: linear-gradient( #2E8BC0,#B1D4E0)
} */
body {
    background-color: coral;
}
