{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}

<h1>Contractors</h1>

<div class="row">
<a href="{% url 'contractors:contractor_add' %}" class="btn btn-primary">
    {% url 'contractors:contractor_add'  %}
</a>
</div>
<br>
<div class="row">
    {% for contractor in contractors%}
    <div class="col-md-4">
        <div class="card mb-2">

            <div class="card-body">
                <h5 class="card-title">Contractor Business Name: {{ contractor.contractorBusinessName }}</h5>
                <h5 class="card-title">Start Date: {{ contractor.startDate }}</h5>
                <a href="{% url 'contractors:contractor_detail' contractor.pk %}" class="btn btn-primary">
                    {% url 'contractors:contractor_detail' contractor.pk %}
                </a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% else %}

<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}