{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<h1>{{ contractor.contractorBusinessName }}</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card mb-2">
           
            <div class="card-body">
                <h5 class="card-title">First Name: {{ contractor.firstName }}</h5>
                <h5 class="card-title">Last Name: {{ contractor.lastName }}</h5>
                <h5 class="card-title">Start Date: {{ contractor.startDate }}</h5>
                <h5 class="card-title">Street Address: {{ contractor.address_id.addressNumber }} {{ contractor.address_id.addressLocation }}</h5>
                <h5 class="card-title">City & State: {{ contractor.address_id.city }} {{contractor.address_id.state }}</h5>
                <h5 class="card-title">Zip: {{contractor.address_id.zip }}</h5>
                <p class="card-text">Last updated: {{ contractor.last_modified }}</p>
            </div>
        </div>
    </div>
</div>
<h1>Drivers</h1>
<div class="row">
    {% for driver in drivers%}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">First Name: {{ driver.firstName }}</h5>
                <h5 class="card-title">Last Name: {{ driver.LastName }}</h5>
                <h5 class="card-title">CLI Number: {{ driver.driverCliNumber }}</h5>
                <h5 class="card-title">Start Date: {{ driver.startDate }}</h5>
                <h5 class="card-title">Registration Expires: {{ driver.RegistrationExpires }}</h5>
                <p class="card-text">License Number: {{ driver.licenseNumber }}</p>
                <a href="{% url 'contractors:driver_detail' driver.pk %}"{{driver.pk}} class="btn btn-primary">
                    {% url 'contractors:driver_detail' driver.pk %}
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}