{% extends "base.html" %}
{% load static %}
{% block page_content %}

<h1>Contractors</h1>
<div class="row">
    {% for contractor in contractors%}
    <div class="col-md-4">
        <div class="card mb-2">
            <!-- <img class="card-img-top" src="{% static driver.image %}"> -->
            <div class="card-body">
                <h5 class="card-title">Contractor Business Name: {{ contractor.contractorBusinessName }}</h5>
                <h5 class="card-title">Start Date: {{ contractor.startDate }}</h5>
                <a href="{% url 'contractor_detail' contractor.pk %}" class="btn btn-primary">
                    Details
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}